p{
    color:blue;
    text-indent:50px;
    text-transform:capitalize;
    text-shadow: 2px 2px 5px blue;
}
#para{
    word-spacing:25px;
}
#heading{
    color:blue;
    text-align:center;
    letter-spacing:2px;
    text-transform:lowercase;
}
#firstlink{
    text-decoration:underline;
}
#secondlink{
    text-decoration:overline;
}